{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}

    <!-- check if user searched something via search form -->
    {% if results %}
        <h1>Search Results for {{ query }}</h1>
        <ul>
            {% for result in results %}
                <a href="{% url 'entry' result %}"><li>{{ result }}</li></a>
                
            {% endfor %}
        </ul>

    {% else %}
        <h1>No results found</h1>
    
    {% endif %}

{% endblock %}
